body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/nasa-planet-nebula.jpg);
    font-family: 'Press Start 2P', cursive;
    color:white;
    box-sizing: border-box;
    margin: 5% 10%;
}

.instruction-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#arrow-keys {
    margin-right: 20px;
    width: 250px;
}

#space-key {
    margin: 50px 20px 50px 0;
    width: 230px;
}

#asteroid {
    width: 250px;
    height: 180px;
}

#black-hole{
    width: 250px;
}

#fuel-and-shield {
    width: 200px;
    display:flex;
    flex-wrap: wrap;
    margin: 10px 30px;
}

.icons {
    width: 50px;
    margin: 0;
}

#nav-container{
    margin: 50px;
    display: flex;
}

.nav-button {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    border: 12px solid white;
}

.nav-button:hover {
    color: lightsteelblue;
    border: 12px solid lightsteelblue;
}